body {
  font-family: 'Aref Ruqaa', serif;
}


/*====Header====*/
.navbar {
  z-index: 30;
  width:100%;
}

.navbar-default {
  background-color: transparent;
  border:none;
}

.navbar-header {
  color: #cfccd1;
  margin-top: 5px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-nav>.active>a:after {
  background-color: rgba(0, 0, 0, .5) !important;
  color: #cfccd1;
  font-size: 13px;
  padding: 10px;
}
.navbar-default .navbar-nav>li>a {
  color: #cfccd1;
  font-size: 11px;
  padding: 10px;
}

.logo {
  height: 40px;
  width: 60px;
}

.jumbotron {
  height: 53em;
  background-image: url('../imgs/background.jpg');
  background-attachment: fixed;;
  background-size: cover;
  background-position: center;
  border-radius: 0 !important;
  margin: 0 auto;
}

.col-centered {
  float:none;
  margin-top: 10em;
}

.mainlogo {
  height: 25em;
}

/*===Body===*/
.top-mid {
  background-image: url('../imgs/coffeebeans.png');
  background-size: cover;
}

.centered {
  margin-top: 5em;
  float: none;
}

.mid-mid {
  background-image: url('../imgs/background.jpg');
  background-attachment: fixed;;
  background-size: cover;
  background-position: center;
}

.box {
  border: solid 2em #36261E;
  background-color: #36261E;
  margin-bottom: 2em;
}

.content {
  margin-top: 5em;
}

.white {
  color:#cfccd1;
}

.table {
  text-align: left;
}

.email, .email:hover {
  color:white;
}


.phoneNumber, .phoneNumber:hover, .phoneNumber:active, .phoneNumber:focus, .phoneNumber:visited{
  color:white;
  text-decoration: none;
}

.corpadd {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: .2em;
}

.bottom {
  margin-bottom: 2em;
}

/*====FOOTER======*/
.footer {
  background-color:#34241E;
  height: 150px;
  color:#A9A9AA;
}

.logo2 {
  height:80px;
  width:105px;
  margin-left: 0;
  border-right: 1px, solid, #2C2A2A;
}

.footer-image {
  border-right: 1px solid #333;
}

.footer-cols {
  padding-left: 40px;
  padding-top: 10px;
  font-size: 12px;
}


.footer a {
  color: #A9A9AA;
}

.inner-footer {
  padding-top: 25px;
}

.caption {
  padding-top: 10px;
  color: #3E3D3D;
}

.col-center {
  margin-left: 30em;
}

.right {
  text-align: right !important;
}


.modalImg {
    left:-25%;
    right: -25%;
    position: absolute;
}


.modal-body {
  position: relative;
  padding: 0;
  width: 898px;
}

.modal-conten {
  width: 898px;
}
